<% provide(:title, @wish.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        Wish Information
        <%= @wish.name %>
          <%= p @doc.at_css("title").text %>
          <% if @doc.at_css('.offer-price') %>
          <%= p @doc.at_css('.offer-price').text %>
          <% elsif @doc.css("#priceblock_ourprice")%>
          <%= p @doc.css("#priceblock_ourprice").text %>
          <% end %>
      </h1>
    </section>
  </aside>
</div>