<% provide(:title, @list.title) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @list.title %><br>
      </h1>
    </section>
  </aside>
</div>

<div class="container lists-container">
  <div class="header">
    <h2>Wishes
  </div>
  <% Wish.all.where(list_id: @list.id).each do |wish| %>
  <div>
    <div class="col-md-8">

      <%= link_to "#{wish.name}", wish_path, class: "btn btn-default list-title"%>

   </div>
  <% if @list.user_id == current_user.id %>
    <div>
      <%= link_to "delete", wish_path(@user, wish), method: "delete", class: "btn btn-danger delete"%>
    </div>
  <%else%>
  <div class="btn btn-success delete follow">
    <small>Grant</small>
  </div>
  <% end %>

  <% if current_user.id == @list.user_id %>
</div>

  
  <% end %>
<% end %>
<%= link_to "add wish", new_wish_path(@list), class: "btn btn-success delete"%>
</div>
