<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1 class="user_info-header">
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>

<div class="container lists-container">
  <div class="header">
    <h2>Your Lists
    <small><%= link_to "add list", new_list_path %></small></h2>
  </div>
  <% List.all.where(user_id: @user.id).each do |list| %>
  <div>
    <div class="lists col-md-8">
      <div class="list-title">
        <%= list.title %>
      </div>
   </div>
  <% if @user.id == current_user.id %>
  <div class="btn btn-danger delete">
    <small>delete</small>
  </div>
  <%else%>
  <div class="btn btn-success delete">
    <small>follow</small>
  </div>
  <% end %>
</div>

  
  <% end %>
</div>