/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.yield{
  min-height: 600px;
}
.navbar-right{
  height: 20px;  
}
.catcher{
  position: absolute;
  width: 400px;
  height: 400px;
  margin-top: 200px;
  text-align: center;
  color: white;
  font-family: fantasy;
  font-weight: bolder;
}

.welcome-tag{
  margin-top: -30px;
  margin-right: 20px;
}
body {

  background-image: url("background2big.jpg");
    background-repeat:no-repeat;
    background-size:120%;
    background-position:center;
    background-color: rgb(63,69,98);
}
.user_info-header{
  width: 500px;
}
.login{
  color: rgb(240,240,240);
  margin-right: 50px;
  margin-top: 30px;
}
.login-form{
  height: 400px;
  width: 400px;
  border-radius: 10px;
  margin-right: auto;
  margin-left: auto;
  background-color: rgb(240,240,240);
  background-color: rgba(240,240,240, 0.8);
}
.login-form-form{
  text-align: center;
  width: 300px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 100px;
}
.inline{
  text-align: left;
}
.login-button{
  width: 180px;
}
.navbar-inverse{
  border-radius: 1px;
}
.navbar-collapse{
  min-height: 80px;
}
.navbar-header{
  font-family: fantasy;
  font-weight: bolder;
  font-size: 42px;
  margin-top: 20px;
  margin-bottom: -20px;
  margin-left: 20px;
  margin-right: 40px;
}
.lists-container{
  background-color: grey;
  width: 400px;
  border-radius: 5px;
  box-shadow: 3px 3px lightblue;
  margin-right: auto;
  margin-left: auto;
  min-height: 400px;
  max-height: 500px;
  overflow: scroll;
}
.lists{
  background-color: rgb(240,240,240);
  border-radius: 6px;
  margin-bottom: 10px;
  width: 280px;
  height: 40px;
}
.list-title{
  margin-left: auto;
  margin-right: auto;
  width: 260px;
  min-height: 40px;
  max-height: 40px;
  line-height: 25px;
  text-align: center;

}
.delete{
  text-align: center;
  float: right;
  margin-top: 3px;
}
.follow{
  width: 80px;
}
.footer{
  width: 85%;
  margin-right: auto;
  margin-left: auto;
}
.links{
  text-align: center;
}
