<div class="catcher">
  <div class="headline">
    <h2>Gifting Simplified.</h2>
  </div>
</div>
<!-- <div class="quote"> -->
  <% Wish.last.name %>
  <% user_id = Wish.last.user_id%><br>
  <small><em> <% User.find(user_id).name %></em></small>
<!-- </div> -->