<!-- begin:footer -->
<section id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-sm-3">
                <div class="widget">
                    <h3>Recent Post</h3>
                    <ul class="list-unstyled">
                        <li><a href="#">update 1</a></li>
                        <li><a href="#">Update 1</a></li>
                        <li><a href="#">Welcome</a></li>
                        <li><a href="#">Hi</a></li>
                        <li><a href="#">Test</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 col-sm-3">
                <div class="widget">
                    <h3>Useful Links</h3>
                    <ul class="list-unstyled">
                        <li><a href="#">Help</a></li>
                        <li><a href="#">Grant a Wish</a></li>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 col-sm-3">
                <div class="widget">
                    <h3>Donate to our World</h3>
                    <ul class="list-unstyled">
                        <li><a href="#">Red Cross</a></li>
                        <li><a href="#">UNICEF</a></li>
                        <li><a href="#">Music Matters</a></li>
                        <li><a href="#">After School Allstars</a></li>
                        <li><a href="#">Wisht Foundation</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-sm-3">
                <div class="footer-logo">
                    <h2><i class="fa fa-recycle"></i> Wisht.</h2>
                    <p>Kingwood, Texas 77345 <br>+1 (832) 270-5910</p>
                    <br>
                    <p class="muted">© 2015 Wisht Inc.</p>
                    <a href="#">Terms of Service</a> <span>/</span> 
                    <a href="#">Privacy</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end:footer -->

<!-- begin:copyright -->
<section id="copyright">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6 copy-left">
        <p>Copyright &copy; 2015 <strong>KSWebdevelopment</strong>. All Right Reserved.</p>
      </div>

      <div class="col-md-6 col-sm-6 copy-right">
        <ul class="list-inline social-icon">
          <li><a href="#" class="icon-twitter" rel="tooltip" title="" data-placement="top" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#" class="icon-facebook" rel="tooltip" title="" data-placement="top" data-original-title="Facebook"><i class="fa fa-facebook-square"></i></a></li>
          <li><a href="#" class="icon-youtube" rel="tooltip" title="" data-placement="top" data-original-title="Youtube"><i class="fa fa-youtube"></i></a></li>
          <li><a href="#" class="icon-instagram" rel="tooltip" title="" data-placement="top" data-original-title="Instagram"><i class="fa fa-instagram"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- end:copyright -->
