<nav class="navbar navbar-inverse" role="navigation">

  <div class="navbar-collapse">
    <ul class="nav navbar-nav navbar-left navbar-icons">
      <li>
        <h4 class="login"> Gifter Helper</h4>
      </li>
      <li>
        <h4 class="login"> Popular Wishes </h4>
      </li>


    </ul>


    <ul class="nav navbar-nav navbar-right navbar-icons">
        <li>
          <h4 class="login"><% offset = rand(Wish.count) %> <%= link_to "Grant a Wish", wish_path(Wish.offset(offset).first) %></h4>
        </li>
        <li>
          <h4 class="login"><%= link_to "Log in", login_path%></h4>
        </li>
    </ul>
  </div>
</nav>